/* CSS Document */

body{
	
}

h3 {
text-align: center;
font-size: 30px;
}

.whoarewe{

	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
	border: solid 3px #000; 
	border-radius: 20px; 
	padding-left: 15px; 
	padding-right: 15px; 
	padding-bottom: 20px; 
	width: 95%
}

.founders{

  display: block;
  margin-left: auto;
  margin-right: auto;
	padding-left: 15px; 
	padding-right: 15px; 
	padding-bottom: 20px;
	width: 95%;
  border: solid 3px #000;
  border-radius: 20px; 
}


.column {
  box-sizing: border-box;
  float: left;
  padding: 10px;
  margin: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  float: left;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  border-radius: 20px;
  background-color: #800020;
  color: white;
  transform: rotateY(180deg);
}


