@charset "UTF-8";
/* CSS Document */

/*Style that all the pages share, including body, header, and links*/
/*James (or someone else) needs to make the header responsive at some point, but this doesnt affect anything else*/
/*a good feature to add would be showing the user which page they are on*/

/*all of the basic document information*/
body{
	font-family: tuppence, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	background-image: url("Paper.png");
	background-size: 1500px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}



/*the parent element of the entire header, and also the background style of the header*/
#header{
	position: fixed;
	top: -36px;
	opacity: 0.9;
	background-image: url("Paper.png");
	background-size: 1500px;
	background-repeat: no-repeat;
	height: 68px;
	width: 100vw;
}

/*puts the logo in*/
#logo{
	position: absolute;
	top: 24px;
	left: -15px;
}

/*adds a disk behind the log so the header looks nicer*/
#logodisk{
	position: relative;
	left: -28px;
	height: 100px;
	background-image: url("logodisk.png");
	background-size: contain;
  	background-repeat: no-repeat;
}

/*positions and styles all of the header links*/
ul {
  	list-style-type: none;
  	width: calc(100vw - 60px);
	position: absolute;
	left: 20px;
	top: -7px;
	display: flex;
	justify-content: space-between;
}

/*makes the links respond to each other*/
li {
  	float: left;
}

/*styles the text of the header links*/
li a {
  	display: block;
  	color: black;
  	text-align: center;
  	padding: 14px 18px;
}


/*makes the content begin after the header*/
#page-content {
  	position: relative;
  	margin-top: 42px;
}

/*Button Types*/
/*these are three button types standardized across the site*/

#button1{
	background-image: url("button1.png");
	background-size: 200px;
	line-height: 17px;
	text-align: center;
	height: 50px;
	width: 200px;
	border-radius: 14px;
	box-sizing: border-box;
	padding: 12px;
	margin-top: 6px;
}

#button2{
	background-image: url("button2.png");
	background-size: 200px;
	line-height: 17px;
	text-align: center;
	height: 50px;
	width: 200px;
	border-radius: 14px;
	box-sizing: border-box;
	padding: 12px;
	margin-top: 6px;
}

#button3{
	background-image: url("button3.png");
	background-size: 200px;
	line-height: 17px;
	text-align: center;
	height: 50px;
	width: 200px;
	border-radius: 14px;
	box-sizing: border-box;
	padding: 12px;
	margin-top: 6px;
}